/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    #cover{
        height: 800px;
        overflow: hidden;
    }
    #logo img{
        width: 130px;
        height: auto;
    }
    #intro{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
    #about{
        padding: 10px 0px;
        }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 20px 0px;
    }
    #works{
        padding: 30px;
    }
    #card-img{
        border-radius: 20px;
    }
    #footer{
        margin: 100px 0px 40px 0px;
        display: flex;
        align-items: center;
    }
    #card-container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
 }
 
 body{
    background-color: #1B1A1A;
    overflow-x: hidden;
    overflow-y: auto;
}
a{
    color: #FFE15F;
}
a:hover{
    color: #D78D1E;
    text-decoration: none;
}
/*#card-img{
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
}*/
#card-text{
    color: #3E3B3B;
}
#card a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #FFE15F;
    border-radius: 50%;
    margin-bottom: 3px;
}
#footer a{
    margin: 0px 10px;
}