/* Smartphone (horizontal phones, 576px and down)*/
@media screen and (max-width: 575px) {  
    #cover{
        height:600px;
        overflow: hidden;
    }
    #logo img{
        width: 70px;
        height: auto;
    }
    #intro{
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
    }
    #intro h2{
        font-size: 30px;
    }
    #about{
        padding: 10px 0px;
        }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 10px 0px;
        
    }
    #works{
        padding: 0px;
    }
    .card-img{
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .footer a{
        padding: 5px;
    }
    #card-container{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .footer{
        margin: 30px 0px 40px 0px;
        align-items: center;
    }
    h2{
        font-size: 30px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    #cover{
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    #logo img{
        width: 60px;
        height: auto;
    }
    #intro{
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
    }
    #intro h2{
        font-size: 36px;
    }
    #about{
        padding: 10px 0px;
        }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 10px 0px;
        
    }
    #works{
        padding: 0px;
    }
    .card-img{
        border-radius: 30px;
        margin-bottom: 15px;
    }
    .footer a{
        padding: 5px;
    }
    #card-container{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    div.card{
        margin-bottom: 50px;
    }
    .footer{
        margin: 30px 0px 40px 0px;
        align-items: center;
    }
  }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    #cover{
        height: 800px;
        overflow: hidden;
    }
    #logo img{
        width: 130px;
        height: auto;
    }
    #intro{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
    #about{
        padding: 10px 0px;
        }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 20px 0px;
    }
    #works{
        padding: 30px;
    }
    .card-img{
        border-radius: 20px;
    }
    .footer{
        margin: 100px 0px 40px 0px;
        display: flex;
        align-items: center;
    }
    #card-container{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    div.card{
        margin-bottom: 50px;
    }
}


body{
    background-color: #1B1A1A;
    overflow-x: hidden;
    overflow-y: auto;
}
body, html{
    height: 100%;
}
a{
    color: #FFE15F;
}
a:hover{
    color: #D78D1E;
    text-decoration: none;
}
.card{
    background-color:#1B1A1A;
}
#card a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #FFE15F;
    border-radius: 50%;
    margin-bottom: 3px;
}
.footer a{
    margin: 0px 10px;
}
.space{
    height: 50px;
}
.footer{
    margin: 100px 0px 40px 0px;
    align-items: center;
}
