body{
    background-color: #1B1A1A;
}
/*card style*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 40px; 
    max-width: 567px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
#card-text {
    padding: 2px 16px;
}
#imgcard {
    border-radius: 40px;
    height: auto;
    max-width: 567px;
}

/*card container*/
#card-container{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: auto;
}

/*Text style*/
h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
}
h1.name{
    color:#FFE15F ;
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #ffffff;
}
h2.light {
    font-weight: 300;
}
h2.works {
    color: #FFE15F;
    text-align: center;
}

h3{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
p{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
}

h4{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #EBEBEB;
}
h4.regular {
    font-weight: normal;
}
h4.light {
    font-weight: 300;
}
h4.black {
    font-weight: 900;
    color: #FFE15F;
}

h5{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /*line-height: 19px;*/
    text-transform: uppercase;

    color: #D78D1E;
}
h5.regular{
    font-weight: normal;
    text-transform: none;
}

/*Top Menu and Footer*/
div.menu{
    padding: 30px 0px;
}
#home{
    max-width: 10%;
    float: left;
    padding: 20px;
    display: inline;
}
#about{
    padding-right: 30px;
    text-align: right;
}
#topmenu{
    position: fixed;
    top: 0;
    width: 60%;
    background-color: none;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*Footer*/
#footer{
    padding: 100px 10px 50px 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
}
/*#email{
    max-width: 500px;
    float: left;
    display: inline-block;
    padding: 20px;
}*/
a.right-footer{
    display: inline-block;
    padding: 0px 10px;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #FFE15F;
    display: inline-block;
    border-radius: 50%;
}

/*intro*/
#intro {
    min-height: 800px;
    display: flex;
    /*justify-content: center;*/
    position: relative;
    text-align: center;
}
#intro-text{
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    Text-align: left;
}
/*cover image*/
#cover{
    width: 100%;
    filter: grayscale(100%);
}

/*Responsive*/
@media screen and (min-width: 1200px) {
    #topmenu {
        width:1156px;
    }
    #card-container{
        width: 1156px;
    }
    #footer{
        width: 1156px;
    }
  }
@media screen and (max-width: 1200px) {
    #topmenu {
        width:100%;
    }
    #card-container{
        width: 100%;
    }
    #footer{
        width: 100%;
    }
  }

  

