@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
body{
    font-family: 'Lato',serif;
}
h1 {
    font-family: Lato;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 48px;
    color: #ffffff;
}
h1.name{
    color:#FFE15F ;
}

h2 {
    font-family: Lato;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 36px;
    color: #ffffff;
}
h2.light {
    font-weight: 300;
}
h2.works {
    color: #FFE15F;
    text-align: center;
    padding: 30px 0px;
}

h3{
    font-family: Lato;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 24px;
    color: #FFFFFF;
}
p{
    font-family: Lato;
    font-style: normal;
    /*font-weight: 300;*/
    font-size: 24px;
    color: #FFFFFF;
}

h4{
    font-family: Lato;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 18px;
    color: #EBEBEB;
}
h4.regular {
    font-weight: normal;
}
h4.light {
    /*font-weight: 300;*/
}
h4.black {
    /*font-weight: 900;*/
    color: #FFE15F;
}

h5{
    font-family: Lato;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 16px;
    /*line-height: 19px;*/
    text-transform: uppercase;

    color: #D78D1E;
}
h5.regular{
    font-weight: normal;
    text-transform: none;
}
