@font-face {
    font-family: "lato";
    src: url("Fonts/Lato-ThinItalic.ttf") format("truetype");
    font-weight: thin;
    font-style: italic;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Thin.ttf") format("truetype");
    font-weight: thin;
    font-style: normal;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-LightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-BlackItalic.ttf") format("truetype");
    font-weight: bolder;
    font-style: italic;
  }  
  @font-face {
    font-family: "lato";
    src: url("Fonts/Lato-Black.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
  }  
body{
    font-family: 'Lato',serif;
}
h1 {
    font-family: Lato;
    font-style: normal;
    font-size: 48px;
    color: #ffffff;
}
h1.name{
    color:#FFE15F ;
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight:thin;
    font-size: 36px;
    color: #ebebeb;
}
h2.bold {
    font-weight: bold;
}
h2.works {
    color: #FFE15F;
    text-align: left
;
    margin-bottom: 0px;
}

h3{
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}
p{
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

h4{
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    color: #EBEBEB;
}
h4.regular {
    font-weight: normal;
}
h4.light {
    font-weight: thin;
}
h4.black {
    font-weight: bold;
    color: #FFE15F;
}

h5{
    font-family: Lato;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #D78D1E;
}
h5.regular{
    font-weight: normal;
    text-transform: none;
    color: #ebebeb;
}
h5.sm-txt-cover{
    color: #EBEBEB;
    font-weight: bold;
}
/* Smartphone (vertical phones, 576px and down)*/
@media screen and (max-width: 575px) {  
    #logo img{
        width: 70px;
        height: auto;
    }
    .about{
        padding: 10px 0px;
        font-size: 14px;
    }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 10px 0px;
    }
    .footer a{
        padding: 5px;
    }
    .footer{
        margin: 30px 0px 40px 0px;
        align-items: center;
    }
    .works{
        font-size: 30px;
    }

}
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {  
    #logo img{
        width: 60px;
        height: auto;
    }
    .about{
        padding: 10px 0px;
    }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 10px 0px;
    }
    .footer a{
        padding: 5px;
    }
    .footer{
        margin: 30px 0px 40px 0px;
        align-items: center;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    #logo img{
        width: 90px;
        height: auto;
    }
    .about{
        padding: 10px 0px;
    }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 10px 0px;
    }
    .footer a{
        padding: 5px;
    }
    .footer{
        margin: 30px 0px 40px 0px;
        align-items: center;
    }
}
/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    #logo img{
        width: 130px;
        height: auto;
    }
    .about{
        padding: 10px 0px;
        }
    #menu{
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 20px 0px;
    }
    .footer{
        margin: 100px 0px 40px 0px;
        display: flex;
        align-items: center;
    }
    .footer a{
        padding: 5px;
    }
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #FFE15F;
    border-radius: 50%;
    margin-bottom: 3px;
}
.dot2{
    height: 5px;
    width: 5px;
    background-color: #c2c2c2;
    border-radius: 50%;
    margin-bottom: 3px;
}
.footer a{
    margin: 0px 10px;
}
.footer{
    margin: 100px 0px 40px 0px;
    align-items: center;
}
.space{
    height: 50px;
}
.space2{
    height: 20px;
}
.space3{
    height: 10px;
}
.space4{
    height: 5px;
}
.arrow{
    display:flex;
    justify-content: center;
}
i{
    color: #FFFFFF;
}
li{
    color: #c2c2c2;
}
.txt-justify{
    text-align: justify;
    text-justify: inter-character;
}
.dash1{
    height: 10px;
    width: 50px;
    color: #FFE15F;
}
.about{
    text-transform: uppercase;

}